<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Levinci_FileManagement::menu" title="Levinci Menu">
                    <resource id="Levinci_FileManagement::fileManagement" title="Levinci File Management" sortOrder="50"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>