<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MageDev_Core::menu" title="Magento Developer" sortOrder="100">
                    <resource id="MageDev_Core::form" title="Magento Developer" sortOrder="50"/>
                    <resource id="MageDev_Core::image" title="MageDev Image" sortOrder="60"/>
                    <resource id="MageDev_Core::assign" title="MageDev Assign" sortOrder="70"/>                
                </resource>
            </resource>
        </resources>
    </acl>
</config>
